div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    transition: all 2s ease-in 0.2s;
}
div:hover{
    background-color: red;
    color:white;
}

div:active{
    background-color: pink;
}